<div class="login-container">
  <div class="auth-left">
    <h1 class="auth-title">
      Create your <span class="gradient-text">Elearn</span> account
    </h1>

    <button class="auth-button google">G Sign up with Google</button>
    <button class="auth-button apple"> Sign up with Apple</button>

    <div class="divider">or</div>

    <input type="text" class="email-input" placeholder="Full Name" />
    <input type="email" class="email-input" placeholder="Email" />
    <input type="password" class="email-input" placeholder="Password" />
    <button class="auth-button primary">Create account</button>

    <p class="login-footer">
      Already have an account? <a routerLink="/login">Login</a>
    </p>
  </div>

  <div class="auth-right">
    <h2 class="auth-slogan">Join<span class="gradient-text"> Elearn </span> and unlock your potential!</h2>
    <p class="auth-description">
      Learn anything, anywhere, anytime with the most intuitive platform.
    </p>

    <video autoplay muted loop playsinline class="auth-video">
      <source src="/login-video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>
